.tab-form.js-tab-form
    .tab-form__container
        p.tab-form__main-title Консультация нутрициолога Biogena
        .tab-form__form-wrapper 
            .tab-form__tabs 
                button(data-tab-id="1").tab-form__tab.active Заказать звонок
                button(data-tab-id="2").tab-form__tab Задайте ваш вопрос
            .tab-form__views 

                .tab-form__view(data-view-id="1").active
                    .tab-form__view-wrapper
                        p.tab-form__title Получить консультацию по телефону
                        p.tab-form__description 
                            | Экспресс-консультация эксперта доступна бесплатно для всех посетителей нашего 
                            | интернет-магазина. Вы можете задать любой вопрос, касающийся приема 
                            | биодобавок, витаминов и минералов. Например, как правильно выбрать кальций, 
                            | в какой дозировке или как можно сочетать один продукт с другим. 
                            br 
                            br 
                            | Для записи на консультацию заполните форму заявки ниже, указав в сообщении
                            | желаемое время звонка специалиста, ваш вопрос и, при необходимости, ссылки на 
                            | выбранные продукты.
                            br 
                            br 
                            | #[strong Консультация нутрициолога возможна по будням с 9:30 до 17:30. ]
                            br 
                            | #[strong Продолжительность - 15 минут. ]
                        form.tab-form__form
                            input.tab-form__input(placeholder="Ваше имя")
                            input.tab-form__input(placeholder="Номер телефона*" type="tel" id="phone" required minlength="12" maxlength="12" data-requiredErrorMessage="Пожалуйста, введите корректный формат номера телефона (например, +7 (999) 999-99-99)")
                            textarea.tab-form__textarea(placeholder="Напишите желаемое время звонка и ваш вопрос*" required data-requiredErrorMessage="Введите ваш вопрос и введите ваш комментарий")
                            .tab-form__errors
                            .tab-form__footer
                                .tab-form__footer-agree
                                    button(data-type="custom-checkbox" type="button").tab-form__agree.active
                                        span.tab-form__agree-icon-wrapper
                                            img.tab-form__agree-icon(src='./img/svg/icon-checkbox.svg' alt='icon-agree')
                                        span.tab-form__agree-rule Согласен с условиями   
                                    a(href="http://biogena.fvds.ru/privacy/").tab-form__agree-link обработки персональных данных.
                                button.tab-form__footer-btn.tab-form__footer-btn_1(type="submit") Записаться на консультацию
                        img.tab-form__bg-image.tab-form__bg-image_1(data-tab-image src='./img/tab-bg-image.png' alt='tab-bg-image')

                .tab-form__view(data-view-id="2")
                    .tab-form__view-wrapper
                        p.tab-form__title Получить консультацию по электронной почте
                        p.tab-form__description Вы можете задать любой интересующий вас вопрос по продуктам или работе магазина. Наш консультант-нутрициолог обязательно вам поможет и пришлёт ответ на электронную почту.
                        form.tab-form__form
                            input.tab-form__input(placeholder="Ваше имя")
                            input.tab-form__input(placeholder="Введите e-mail*" type="email" required minlength="1" maxlength="100" data-checkValidationMessage="Адрес элктронной почты должен сожержать символ '@'. В данном адресе отсутствует символ '@'" data-requiredErrorMessage="Пожалуйста, введите корректный формат вашего e-mail (например, example@gmail.com)")
                            textarea.tab-form__textarea(placeholder="Напишите ваш вопрос*" required data-requiredErrorMessage="Введите ваш вопрос и введите ваш комментарий*")
                            .tab-form__errors
                            .tab-form__footer
                                .tab-form__footer-agree
                                    button(data-type="custom-checkbox" type="button").tab-form__agree.active
                                        span.tab-form__agree-icon-wrapper
                                            img.tab-form__agree-icon(src='./img/svg/icon-checkbox.svg' alt='icon-agree')
                                        span.tab-form__agree-rule Согласен с условиями   
                                    a(href="http://biogena.fvds.ru/privacy/").tab-form__agree-link обработки персональных данных.
                                button.tab-form__footer-btn.tab-form__footer-btn_2(type="submit") Задать ваш вопрос
                        img.tab-form__bg-image.tab-form__bg-image_2(data-tab-image src='./img/tab-bg-image.png' alt='tab-bg-image')