@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DinPro/DINPro-CondensedLight.woff2") format("woff2"),
    url("../fonts/DinPro/DINPro-CondensedLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DinPro/DINPro-CondensedRegular.woff2") format("woff2"),
    url("../fonts/DinPro/DINPro-CondensedRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DinPro/DINPro-CondensedMedium.woff2") format("woff2"),
    url("../fonts/DinPro/DINPro-CondensedMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
