@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DinPro/DINPro-Light.woff2") format("woff2"),
    url("../fonts/DinPro/DINPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DinPro/DINPro.woff2") format("woff2"),
    url("../fonts/DinPro/DINPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DinPro/DinPro-Medium.woff2") format("woff2"),
    url("../fonts/DinPro/DinPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
